<div class="footer">
  <div class="container">
    <p style="padding-top: 15px;">
      <span class="glyphicon glyphicon-heart"></span> winterest App Developed for FreeCodeCamp by <a
      href="https://github.com/lianyi">#lianyi</a> @ <a href="https://github.com/lianyi/basecamp-winterests">
      <i class="fa fa-github" aria-hidden="true"></i></a>
    </p>
    <p style="padding-top: 15px;">
      <i class="fa fa-exclamation-triangle" aria-hidden="true"></i> explicit images are not allowed!
    </p>
  </div>
</div>
